{% extends 'base.html' %}
{% load static %}

{% block body_block %}


<div class="row placeholders">
	<div class="col-xs-12 col-md-12 placeholder">
		<div class="panel panel-primary" style="background-color: transparent;">
			<div class="panel-heading" style="background-color: transparent;">
				<h3 class="panel-title">Charleston Chew Menu</h3>
				{% if food_items %}
					<ul class="list-group">
					{% for food in food_items %}
						<li class="list-group-item"><p style="color: white">{{ food.name }}</p></li>
						<li class="list-group-item"><img src="{{ food.image.url }}" height="250" width="250"></li>
						<li class="list-group-item"><p style="color: white">{{ food.description }}</p></li>
						<li class="list-group-item"><p style="color: white">$ {{ food.price }}</p></li>
					{% endfor %}
					</ul>
				{% else %}
					<strong>Sorry we ran out of food!</strong>
				{% endif %}
			</div>
		</div>
	</div>
	
</div>



	<!--<img src="{% static 'images/photo.jpeg' %}">-->

{% endblock %}