{% extends 'base.html' %}
{% load static %}

{% block body_block %}

<div class="page-header">
	<h1><a href="/images/logo.png" title="LOGO"></h1>
</div>

<div class="row placeholders">
	<div class="col-xs-12 col-md-6 placeholder">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Charleston Chew Menu</h3>
				{% if food_items %}
				<ul class="list-group">
				{% for food in food_items %}
					<li class="list-group-item"><a href="{% url 'menu' menu.slug %}"><p>{{ food.name }}</p></a></li>
					<li class="list-group-item"><a href="{% url 'menu' menu.slug %}"><p>{{ food.image }}</p></a></li>
					<li class="list-group-item"><a href="{% url 'menu' menu.slug %}"><p>{{ food.description }}</p></a></li>
					<li class="list-group-item"><a href="{% url 'menu' menu.slug %}"><p>{{ food.price }}</p></a></li>
				{% endfor %}
				</ul>
				{% else %}
					<strong>Sorry we ran out of food!</strong>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-6 placeholder">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Pages</h3>
			</div>
		</div>
</div>
</div>



	<!--<img src="{% static 'images/photo.jpeg' %}">-->

{% endblock %}